<h1>About | <%= @base_title %></h1>
<p>
    The <a href="https://pragprog.com/titles/phoenix14/programming-phoenix-1-4/">Programming Phoenix</a> book is a book to teach web development
    with <a href="https://www.phoenixframework.org/">Phoenix Framework</a>. This is the sample application for the tutorial.
</p>