<h1>Help | <%= @base_title %></h1>
<p>
    Get help on the Programming Phoenix book at the
    <a href="https://pragprog.com/titles/phoenix14/programming-phoenix-1-4/">Programming Phoenix help page</a>.
    To get help on this sample app, see the
    <a href="https://pragprog.com/titles/phoenix14/programming-phoenix-1-4/"><em>Programming Phoenix book</em></a>.
</p>
